* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.hidden {
  display: none;
  background-color: red;
}

:root {
  --book-pink: 90deg;
  --book-purple: 30deg;
  --book-red: 115deg;
  --book-green: 220deg;
  --book-cyan: 280deg;
  --book-blue: 330deg;
  --default-book-height: 793px;
  --default-book-width: 1280px;
  --book-shrink-constant: 0.6;
}

.book {
  position: absolute;
  margin: auto auto auto 0;
  height: calc(var(--default-book-height) * var(--book-shrink-constant));
  width: calc(var(--default-book-width) * var(--book-shrink-constant));
  background-image: url(./img/book-open.png);
  background-size: contain;
  display: grid;
  grid-template-columns: 10% 1fr 5% 1fr 10%;
  grid-template-areas: ". page1 . page2 .";
  align-items: start;
  overflow: hidden;
  font-size: 100%;
}

.book.initial {
  left: 100vw;
  background-color: red;
  transition: all 2s ease-in-out;
}

.book.transition {
  left: 0;
  background-color: green;
}

.page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.page-one {
  grid-area: page1;
}

.page-two {
  grid-area: page2;
}

::backdrop {
  opacity: 0.6;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

button {
  border: none;
  padding: 5px;
  border-radius: 20px;
}

dialog {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
  border: 15px solid rgb(231, 92, 92);
  border-radius: 20px;
  gap: 15px;
  background-color: rgb(214, 163, 163);
}

dialog > input {
  border: none;
  background-color: rgb(219, 126, 126);
}

dialog > button[autofocus] {
  position: absolute;
  right: -2.8%;
  top: -3%;
  width: min-content;
  height: min-content;
  background: rgb(231, 92, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.create-book-title {
  font-weight: bold;
  border-bottom: 2px solid black;
}
